<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpJr7DgKckizgo38FGO-J6sOBAxn7FGPA</string>
	<key>GCM_SENDER_ID</key>
	<string>469840950956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mindnetwork.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mind-95221</string>
	<key>STORAGE_BUCKET</key>
	<string>mind-95221.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469840950956:ios:34f42ba080a005b9d89109</string>
</dict>
</plist>